table {
 border-collapse: collapse;
 width : 80%; 
 height: 40%;

}

td, th {
    border: 1px solid black;
    
}

img {
    width: 10rem;
    height: 10rem;
}

.promo {
    width: 2rem;
    aspect-ratio: 1/1;
    background-color: brown;
    border-radius: 50%;
}

p { 
    color : white; 
    font-size: 12px;
    display: flex;
    align-items: center;
}
body{ 
    background-color: rgb(63, 70, 133);
    color : white; 
}